.numbers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  column-gap: 10px;
  width: 50%;
}

.operators {
  margin-top: 5px;
  width: 50%;
}

#display {
  width: 50%;
  text-align: right;
}
